.container{
    text-align: center;
}
table{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    font-size: 34px;
    border: 5px solid black ;
    border-radius: 20px ;
}   

button{
    font-size: 30px;
    background: rgb(134, 131, 131);
    width: 102px;
    height: 58px;
    border-radius: 15px;
}
.calc{
    border-radius: 20px ;
    border: 2px solid black;
    display: inline-block;
    padding: 20px;
    background-color: rgb(180, 170, 188);

}